h1 h2 h3 {
  font-family: 'Questrial', sans-serif !important;
}

body {
  font-family: 'Lato', sans-serif;
}

#about-ref,
#work-ref {
  padding-top: 60px;
  padding-bottom: 60px;
}

i {
  font-size: 30px;
  padding-right: 5px
}

.devicons {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: relative;
}
.parallax-window {
    min-height: 500px;
    background: transparent;
}

.navbar-fixed {
  height: 75px;
}
.navbar-fixed h3 {
  margin: 1rem 0 1.168rem 0;
}
.brand-logo {
  margin-left: 10px;
}

#section-head {
  font-size: 30px;
}

#about-content {
  max-width: 100px;
  display: inline;
}

#techicon {
  margin: 30px 0;
  text-align: center;
}

.devicon {
  font-size: 100px;
  text-align: center;
}

#work-content li {
  display: inline-block;
  min-width: 800px;
}

#work1 {
  float: left;
}

#work2 {
  float: right;
  width: 600px;
  padding: 40px 20px 20px 20px;
}

#work-img {
  border-radius: 3px;
  width: 290px;
  height: 200px;
  max-width: 290px;
  max-height: 200px;
}

.skills {
  height: 100px;
  padding-top: 2rem !important;
}

#contact-list li {
  display: inline;
  margin: 0 50px;
}

#contact-list {
  text-align: center;
  min-width: 640px;
}

#copyright {
  text-align: right;
  margin-right: 50px;
  color: white;
}
