@font-face {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Questrial', sans-serif !important;
}

body {
  font-family: 'Lato', sans-serif;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ ​*/
  filter: gray; /*​ IE6-9 ​*/
  -webkit-filter: grayscale(100%); /*​ Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#about-ref,
#work-ref {
  padding-top: 70px;
  padding-bottom: 70px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.brand-logo {
  margin-left: 10px;
}

#section-head {
  font-size: 30px;
}

#about-content {
  max-width: 100px;
  display: inline;
}

.me {
  border-radius: 2px;
}
/*.col1 {
  height: 238px;
}*/

/*.col1 img {
  max-width: 100%;
  max-height: 100%;
}*/

#techicon {
  margin: 30px 0;
  text-align: center;
}

.devicon {
  font-size: 100px;
  text-align: center;
}

#work-content li {
  display: inline-block;
  min-width: 800px;
}

#work1 {
  float: left;
}

#work2 {
  float: right;
  width: 600px;
  padding: 40px 20px 20px 20px;
}
.headshot img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;

}

#work-img {
  border-radius: 3px;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
}

#contact-list li {
  display: inline;
  margin: 0 50px;
}

#contact-list {
  text-align: center;
  min-width: 640px;
}

#copyright {
  text-align: right;
  margin-right: 50px;
  color: white;
}
