@font-face {
  font-family: 'TrajanPro-Regular' !important;
  src: url(TrajanPro-Regular.ttf);
}

@font-face {
  font-family: 'TrajanPro-Regular'
  src: url(TrajanPro-Regular.ttf);
}
body {
  font-family: 'TrajanPro-Regular';
}
#about-ref,
#work-ref {
  padding-top: 70px;
  padding-bottom: 70px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.brand-logo {
  margin-left: 10px;
}

#section-head {
  font-size: 30px;
}

#about-content {
  max-width: 300px;
}

#techicon {
  margin: 30px 0;
  text-align: center;
}

.devicon {
  font-size: 100px;
  text-align: center;
}

#work-content li {
  display: inline-block;
  min-width: 800px;
}

#work1 {
  float: left;
}

#work2 {
  float: right;
  width: 600px;
  padding: 40px 20px 20px 20px;
}

#work-img {
  border-radius: 3px;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
}

#contact-list li {
  display: inline;
  margin: 0 50px;
}

#contact-list {
  text-align: center;
  min-width: 640px;
}

#copyright {
  text-align: right;
  margin-right: 50px;
  color: white;
}
